<div class="row">


<div class="col-sm-12">

<h1 id="add_app_title" style="font-family: 'Mr Dafoe', cursive; font-size: 80px; letter-spacing: 1px; text-align: center; padding: 0px 60px 0px 60px; font-weight: bolder; margin-top: 0px; margin-bottom: 0px; line-height: 90px; color: white">Your bulb's title</h1>

</div>

</div>

<div class="row">

<div class="grid-item2 col-sm-8 col-sm-offset-2" style="margin-top: 20px; padding: 90px">

  <%= render 'form' %>



</div>

</div>

<script type="text/javascript">

  $(function() {

    $("#app_title").focusout( function(e) {
    var content = e.target.value
    $('#add_app_title').text(content);

    });


  });
</script>




